* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  /* background-color: lightpink; */
}

.btn {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.5em 0;
  background-color: rgb(128, 90, 213);
  border: 2px solid rgb(128, 90, 213);
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

.btn:hover,
.btn:focus {
  background-color: #fff;
  border: 2px solid rgb(128, 90, 213);
  color: rgb(128, 90, 213);
  transition: 0.15s ease-in;
}

@media (min-width: 675px) {
  html {
    font-size: 19px;
  }

  .btn {
    width: 25%;
  }
} 

@media (min-width: 1500px) {
  html {
    font-size: 26px;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 32px;
  }
}