.container_landing_page {
  display: flex;
  flex-direction: column;
}

.landing_page_info_container {
  order: 1;
  margin-top: 1em;
}

.landing_page_img_container {
  order: 0;
}

@media (min-width: 675px) {
  .container_landing_page {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .landing_page_info_container {
    order: 0;
    width: 55%;
    margin-top: 0;
  }

  .landing_page_img_container {
    order: 1;
    width: 45%;
  }

}
